/*
.test-class{
  background-color: #0ec254;
}*/
@import "../quick-theme/variable";
@import url(https://fonts.google.com/specimen/Montserrat);

.login-page {
  background-image: url("../../../../assets/quick/images/login--background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.card {
  top: 20%;
  left: 25%;
  width: 35%;
  position: relative;
  height: 453px;
  border-radius: 10px !important;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.5) !important;
  background-color: #ffffff !important;
}

.img-logo {
  width: 140.1px;
  height: 75px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  padding: 28px 28px 28px 28px;
}

.welcome-txt {
  font-family: 'GrotaSansRoundedbold';
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}

.sub-txt {
  width: 363px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat-Light';
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
}

.login-btn {
  width: 287px;
  margin-top: 10px;
  height: 46px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 0.5px;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #adcc40, #adcc40), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.47px;
  text-align: center;
  color: #ffffff;
}

ion-select {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
}

ion-input {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
}

@media screen and (max-width: 1024px) {
  .login-page {
    // background-image: url("../../assets/icon/login--background.png");
    background-image: url("../../../../assets/quick/images/login--background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
  .sub-txt {
    width: auto !important;
  }
  .login-btn {
    margin-top: 8px;
  }
  .card {
    top: 20%;
    left: 25%;
    width: 50%;
    position: relative;
    height: 453px;
    border-radius: 10px !important;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.5) !important;
    background-color: #ffffff !important;
  }
}

@media screen and (max-width: 767px) {
  .card {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    position: relative;
    height: calc(100vh) !important;
    border-radius: 0px !important;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.5) !important;
    background-color: #ffffff !important;
  }
  .sub-txt {
    width: auto !important;
  }
}

@media screen and (max-width: 320px) {
  ion-input {
    width: 165px !important;
  }
  .inputbx-row {
    margin-left: 0px !important;
  }
}

// converted inline style to

.country-col {
  width: 82px;
  height: 50px;
  border: solid 1px #e0e0e0;
  background-color: #f6f6f6;
}

.row-style {
  justify-content: center;
  align-self: center;
  margin-top: 50px;
}

.input-box-margin-left-10 {
  margin-left: 10px;
}

.country-code-select-padding {
  padding: 16px;
}

.phone-number-ion-item-margin {
  margin-left: 4px;
}

.phone-number-input {
  width: 200px;
  height: 50px;
  border: solid 1px #e0e0e0;
  background-color: #f6f6f6;
  padding-left: 10px !important
}

.login-btn-row {
  justify-content: center;
  align-self: center;
}

