<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-title>
    Registration
</ion-title>
<ion-content class="ion-padding content-background">
    <div class="register_contentWidth ion-text-center">
        <form no-lines novalidate class="registration-form ion-text-center"
              style="background-image: url(../../../../assets/lots/logo/los-reg.png);"
              [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="login_contentWidth ion-text-center">
                <div class="ngage-logo">

                    <!-- <img src="assets/logo/ebp1 copy.svg" class="img-content-background" /> -->
                </div>
                <p class="title-content ion-text-left">Please enter your mobile number. You will receive an OTP which
                    you will need to enter to validate your identity.
                </p>

            </div>
            <ion-list class="ion-no-padding" no-border>
                <ion-row class="ion-no-padding ion-no-margin">
                    <ion-col class="cou  ion-no-padding ion-no-margin" col-3>
                        <span class="country-text">{{registerForm.get('countryCode').value}} </span>
                        <ion-select class="ion-no-padding ion-no-margin ion-text-left" interface="popover"
                                    formControlName="countryCode">
                            <ion-select-option *ngFor="let code of countryCodes" [value]="code.code">
                                {{code.code}}{{code.country}}
                            </ion-select-option>
                        </ion-select>
                    </ion-col>

                    <ion-col col-8 class="content-background ion-no-padding">
                        <ion-item class="ion-no-padding ion-no-margin">
                            <ion-input formControlName="mobile_number" type="mobileInputType" maxlength="14" max="14"
                                       minlength="10" placeholder="Mobile Number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
            <ion-list class="check-content">
                <ion-checkbox formControlName="terms_accept"></ion-checkbox>
                <span class="terms">I Accept the
          <a (click)="termsClicked()">Terms & Conditions</a>
        </span>
            </ion-list>
            <button *ngIf="showSubmit" clear class="submitButton" round type="submit">
                <span>Register</span>
            </button>
            <ion-item class="content-background ion-text-center" margin-top *ngIf="showSubmit != true">
                <ion-label color="placeholder-text" text-wrap>Please resolve Captcha to continue</ion-label>
            </ion-item>
            <ion-item class="content-background ion-text-center" [style.display]="!showSubmit?'flex':'none'" no-lines
                      no-border>
                <div id="recaptcha-container" no-lines></div>
            </ion-item>
            <div class="footer ion-text-left">New Customer? please follow the above process. You will need to create
                your profile after your phone number is validated
            </div>

        </form>
    </div>
</ion-content>