
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

.otp-background {
  margin: 10px 15px 5px;
  width: auto;
}

ion-select.select {
  overflow: unset !important;
  max-width: unset !important;
  display: inline-flex !important;
}

.img-content-background {
  margin-bottom: 3%;
}

.content-background {
  color: transparent;
}

.select-md .select-placeholder {
  color: #000;
}

.select-text {
  display: none;
}

.col[col-3].cou {
  border: 1px solid #e0e0e0;
  margin: 0px 0px 0px 17px;
  background-color: #f6f6f6;
  padding: 15px 0px 0px 15px;
  flex: 0 0 28%;
  width: 28%;
  max-width: 28%;
}

.col[col-8] {
  padding-right: 0px;
  margin: 0px 10px 0px 7px;
  flex: 0 0 59.9%;
  width: 59.9%;
  max-width: 59.9%;
}

#pageTitle {
  font-size: 24px;
  margin: 17.6% 0 2.3% 0;
  text-align: center;
  color: #4a4a4a;
  font-family: 'Roboto-Regular', sans-serif;
}

.fixed-content {
  background-color: #fafafa;
}

.title-content {
  width: 78.3%;
  height: 9.4%;
  margin: 0% 10.8% 6.4% 10.8%;
  font-family: 'Roboto-Regular', sans-serif;
  line-height: 20px;
  font-size: 14px;
  color: black;
}

.item.item-md .checkbox-md {
  margin: 4.1% 3.1% 1.5% 17.5%;
  font-size: 15px;
}

.checkbox-md .checkbox-icon {
  width: 20px;
  height: 20px;
}

.list-md {
  margin: -1px 0 6px;
}

.item-md {
  background-color: #fafafa;
}

.item-input ion-input {
  height: 55px;
  border: 1px solid #e0e0e0;
  background-color: #f6f6f6;;
}

.checkbox-md .checkbox-checked .checkbox-inner {
  left: 6px;
  top: 2px;
}

#termsCheckBox {
  margin-right: 11px;
}

.terms {
  font-size: 13px;
  font-family: 'Roboto-Regular', sans-serif;
  line-height: 24px;
  color: #58595b;
  height: 3.8%;
  width: 48.1%;
  position: relative;
  bottom: 5px;
}

a[target=_blank] {
  text-decoration: underline;
}

.text-input-md {
  margin: 15px 0px 0px 12px;
  font-weight: 500;
  font-size: 1em;
}

.scroll-content {
  padding: 0px !important;
}

ion-app.md [margin-top] {
  margin: 10px 15px;
  width: auto;
}

.item-block .item-inner {
  padding: 0px !important;
}

.list-md .item-input:last-child {
  border: none;
}

button.submitButton {
  background-color: #6a4db6;
  padding: 13px 33px;
  color: #fff;
  font-size: 16px;
  border-radius: 80px;
  margin: 1.1% 32.3% 15px 30.5%;
  font-family: 'Roboto-Bold', sans-serif;
}

.footer {
  font-size: 12px;
  font-family: 'Roboto-Bold', sans-serif;
  line-height: 16px;
  color: gray;
  margin: 0 10% 0 5.6%;
}

.check-content {
  margin-top: 20px;
}

.content-logo {
  width: 32.4%;
  height: 20.8%;
  margin: 10.2% 33.7% 4% 33.9%;
}

.select-icon {
  margin-top: 7px !important;
}

.registration-form {
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.country-text {
  color: dimgrey;
  font-size: 1.2em;
  font-weight: 500;
  position: absolute;
  left: 15%;
  top: 30%;
}

.select-md .select-icon .select-icon-inner {
  left: 160%;
  top: 30%;
}

.cou {
  ion-col {
    //margin-top: 6px;
    text-align: center;
    padding: 10px 0px 0px 10px;
  }
}

.ngage-logo {
  padding-top: 78%;
}

@media screen and (min-width: 500px) {
  .registration-form {
    background-size: 450px;
    border-radius: 20px;
  }
  .scroll-content {
    background: #6a4db6;
  }
  #pageTitle {
    font-size: 26px;
    margin: 24% 4% 2.3% 0;
  }
  .col[col-3].cou {
    margin: 0 0 0 24px;
  }
}

@media screen and (max-width: 330px) {
  .img-content-background {
    width: 95%;
  }
}

@media screen and (min-width: 500px) {
  .scroll-content {
    background: #6a4db6;
  }
}

@media screen and (min-width: 500px) {
  .ngage-logo {
    padding-top: 78% !important;
  }
}

.content-background {
  color: transparent;
  // background: #d32f2f;
}

@media screen and (min-width: 500px) {
  .ngage-logo {
    padding-top: 78% !important;
  }
}

.scroll-content {
  padding: 0 !important;
  // background: #d32f2f;

}

.scroll-content {
  overflow-y: auto;
}

.title-content {
  width: 78.3%;
  height: 9.4%;
  margin: 0 10.8% 6.4% 10.8%;
  font-family: Roboto-Regular, sans-serif;
  line-height: 20px;
  font-size: 14px;
  color: #000;
}

.check-content {
  margin-top: 20px;
}

@media screen and (min-width: 500px) {
  .ngage-logo {
    padding-top: 78% !important;
  }
}

@media screen and (min-width: 570px) {
  .register_contentWidth {
    width: 420px;
    display: block;
    position: absolute;
    top: 1%;
    left: 50%;
    margin-left: -210px;
    border: 2px solid #fff;
    border-radius: 20px;
    background: #fff;
    margin-bottom: 10px;
    -webkit-transform: none;
    transform: none;
    min-height: 748px;
    max-height: 768px;
  }
}