@font-face {
  font-family: 'GrotaSansRounded';
  src: url('../../../../assets/quick/fonts/GrotaSansRounded-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'GrotaSansRoundedBold';
  src: url('../../../../assets/quick/fonts/GrotaSansRounded-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'GrotaSansRoundedBook';
  src: url('../../../../assets/quick/fonts/GrotaSansRounded-Book.otf') format("opentype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../../../assets/quick/fonts/Montserrat-Light.otf') format("opentype");
}