// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

$app-direction: ltr;
$grid-padding-width: 2px;
// From
// @import "ionic.theme.default";

:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --ion-color-accent: #6a4db6;
  --ion-color-primary: #6a4db6;
  --ion-color-secondary: #32db64;
  --ion-color-dark-green: #00870a;
  --ion-color-danger: #f53d3d;
  --ion-color-light: rgba(244, 244, 244, 0.61);
  --ion-color-dark: #222;
  --ion-color-links:#0c7ef6;
  --ion-color-placeholder-text:#696969;
  --ion-color-button-background:#7123d1;
  --ion-color-profile-logo-div-background:#673ab7;
  --ion-color-transparent:rgba(0, 0, 0, 0);




}

$text-input-placeholder-color: var(--ion-color-placeholder-text);
$button-background-color: var(--ion-color-button-background);
$profile-logo-div-background: var(--ion-color-profile-logo-div-background);


$link-color: var(--ion-color-links);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-background: var(--ion-color-accent);
$checkbox-ios-background-color-on: var(--ion-color-links);
$segment-button-ios-background-color:var(--ion-color-accent);
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-background: var(--ion-color-accent);
$checkbox-md-background-color-on: var(--ion-color-);
$segment-button-md-background-color:var(--ion-color-accent);
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$toolbar-wp-background: var(--ion-color-accent);
$checkbox-wp-background-color-on: var(--ion-color-links);

$colors: (
  accent: #d32f2f,
  primary: #d32f2f,
  secondary: #32db64,
  dark-green: #00870a,
  danger: #f53d3d,
  light: rgba(244, 244, 244, 0.61),
  dark: #222,
  links:#0c7ef6,
  placeholder-text:#696969,
  button-background:#d32f2f,  
  profile-logo-div-background:#753a24,
  transparent:rgba(0, 0, 0, 0)
);
