<div class="background">
    <div class="mobile-view">
        <ion-header>
            <ion-toolbar>
                <ion-title class="dflex">
                    <img src="assets/quick/images/logo.JPG"/>
                    <h2 end>Welcome to QikApp</h2>
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <div class="content">
                <h5 text-center bold class="greentext">Schedule appointment</h5>
                <p text-center class="email">
                    <ion-icon name="mail"></ion-icon>
                    <strong> james@anz.com</strong>
                </p>
                <ion-card class="address">
                    <ion-icon name="pin" class="pin"></ion-icon>
                    <div class="loc">
                        <ion-label>
                            <small>Location</small>
                            <ion-note text-wrap>Richmond Victoria</ion-note>
                        </ion-label>
                    </div>
                    <img class="edit" src="assets/quick/icon/edit.gif"/>
                </ion-card>

                <div class="selections">
                    <p class="smalltitle">Select a service</p>
                    <div>
                        <ion-row>
                            <ion-col no-padding>
                                <ion-card (click)="selectme('eye')"
                                          [ngClass]="{'unselcard':service === 'dental','selcard':service === 'eye'}"
                                          style="padding: 4px 14px;">
                                    <img [src]="(service === 'eye')? 'assets/quick/icon/eye.png':'assets/quick/icon/eye_unsel.png'"/>
                                    <ion-label>
                                        Eye Care
                                    </ion-label>
                                </ion-card>
                            </ion-col>
                            <ion-col no-padding>
                                <ion-card (click)="selectme('dental')"
                                          [ngClass]="{'unselcard':service === 'eye','selcard':service === 'dental'}"
                                          style="padding: 4px 14px;">
                                    <img [src]="(service === 'dental')? 'assets/quick/icon/dental.png':'assets/quick/icon/dental_unsel.png'"/>
                                    <ion-label>
                                        Dental
                                    </ion-label>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>

                <div class="pickdtordoc selections">
                    <p class="smalltitle">Schedule your appointment</p>
                    <div class="dflex">
                        <ion-card (click)="gotooptodtimepage()" class="unselcard">
                            <img class="edit" src="assets/quick/icon/calendar.GIF"/>
                            <ion-label>
                                Select<br> Date & Time
                            </ion-label>
                        </ion-card>
                        <p class="ortxt">OR</p>
                        <ion-card (click)="gotooptodoctpage()" class="unselcard">
                            <img class="edit" src="assets/quick/icon/doctor.GIF"/>
                            <ion-label>
                                Select {{ (service === 'dental')? 'Dentist':'Optometrist' }}
                            </ion-label>
                        </ion-card>
                    </div>
                </div>

                <P class="bottomline">Teachers Federation Health Ltd. ABN 86 097 030 414 trading as Teachers Health
                    Centre.<br>For more information, please visit teachershealth.com.au.<br>Head office address: Level
                    4, Tower A,
                    260 Elizabeth Street, Sydney NSW 2000.</P>
            </div>
        </ion-content>
    </div>
</div>