//global

body * {
  font-family: var(--ion-font-family);
}

.background {
  height: 100%;
}

.mobile-view {
  width: 100%;
  min-width: 320px;
  height: 640px;
  overflow: hidden;
  max-width: 360px;
  margin: auto auto auto 0;
}

ion-header {
  &::after {
    content: unset !important;
  }
  & ion-title {
    padding: 0;
  }
}

.dflex {
  display: flex;
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

[end] {
  align-items: flex-end;
}

[bold] {
  font-weight: 700;
}

//Local

div.background {
  background: url("../../../../assets/quick/images/background.jpg");
  background-size: cover;
  padding: 0 10%;
  display: flex;
  align-self: center;
  width: 100%;
  & .sidesceen {
    height: 600px;
  }
}

ion-header {
  ion-title {
    background-color: #001743;
    img {
      vertical-align: bottom;
    }
    h2 {
      margin: 0;
      padding: 31px 12px 30px 0;
      color: #fff;
      font-size: 20px;
      text-align: right;
      float: right;
    }
  }
}

.content {
  padding: 43px 20px;
}

.greentext {
  color: #00b596;
  margin: 0 0 4px 0;
  font-size: 20px;
}

.smalltitle {
  font-family: var(--ion-font-family2);
  font-size: 14px;
  margin-bottom: 6px;
  padding-left: 8px;
  margin-top: 30px;
  color: #555;
}

.email {
  color: #001743;
  margin: 0 0 8px 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  & ion-icon {
    font-size: 20px;
    padding-right: 6px;
    margin-top: 0px;
  }
}

.address {
  display: flex;
  padding: 15px 0;
  border-radius: 8px;
  margin-top: 30px;
  & ion-icon {
    font-size: 24px;
    width: 50px;
    margin: auto 0;
    color: #000;
  }
  & .loc {
    margin: auto 0;
    border: unset;
    width: calc(100% - 100px);
    & ion-label {
      margin: 0;
      border: unset;
      font-size: 14px;
      & small {
        display: block;
        margin-bottom: 2px;
        font-family: var(--ion-font-family2);
        font-size: 14px;
      }
      & ion-note {
        border: unset;
        color: #001743;
        font-weight: 700;
      }
    }
  }
  & .edit {
    margin: auto 0;
    width: auto;
  }
}

.unselcard {
  display: flex;
  padding: 4px 7px;
  border-radius: 8px;
  margin: 0 8px;
  cursor: pointer;
  & img {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: auto 0;
  }
  & ion-label {
    margin: auto 0;
    width: calc(100% - 35px);
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
    color: #001743;
    font-weight: 700;
    font-size: 14px;
  }
}

.ortxt {
  font-family: var(--ion-font-family2);
  font-size: 14px;
  margin: auto 0;
}

.selcard {
  display: flex;
  padding: 4px 7px;
  border-radius: 8px;
  margin: 0 8px;
  background-color: #00b596;
  cursor: pointer;
  & img {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: auto 0;
  }
  & ion-label {
    margin: auto 0;
    width: calc(100% - 35px);
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
  }
}

.pickdtordoc {
  margin-top: 43px;
  & ion-card {
    width: calc(50% - 16px - 8px);
  }
}

.bottomline {
  font-family: var(--ion-font-family2);
  text-align: center;
  font-weight: 200;
  color: #001743;
  margin-top: 100px;
  font-size: 9px;
}

@media only screen and (max-width: 375px) {
  .selections ion-card {
    padding: 4px 2px;
  }
  .selections ion-label {
    padding-left: 4px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 570px) {
  .background {
    padding: 0 !important;
    background: none !important;
  }
  .mobile-view {
    height: 100%;
    margin: auto;
    max-width: 570px;
  }
}