<div class="login-page">
    <div class="card">
        <div class="card-content">
            <!-- <img src="../../assets/icon/logo.png"  class="img-logo" > -->
            <img src="assets/quick/images/logo.png" class="img-logo">
            <p class="welcome-txt">Welcome to QikApp Appointment System</p>
            <p class="sub-txt"> Please enter your mobile number. You will receive an OTP which you will need to
                enter to validate your identity</p>
            <ion-row class="row-style">
                <div class="mobile-view-txtbx">
                    <ion-list class="ion-no-padding ion-no-border" lines=“none”>
                        <ion-row class="inputbx-row input-box-margin-left-10 ion-no-padding ion-no-margin">

                            <ion-col class="country-col ion-no-padding ion-no-margin" col-3>
                                <span class="country-text"> </span>
                                <ion-select class="ion-no-margin ion-text-left country-code-select-padding">
                                    <ion-select-option>88</ion-select-option>
                                </ion-select>
                            </ion-col>

                            <ion-col col-8 class="content-background ion-no-padding">
                                <ion-item lines="none"
                                          class="ion-no-padding ion-no-margin phone-number-ion-item-margin">
                                    <ion-input class="phone-number-input" type="mobileInputType" maxlength="14"
                                               max="14" minlength="10" placeholder="Mobile Number"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-list>
                </div>
                <ion-row>
                    <button class="login-btn">LOGIN</button>
                </ion-row>
            </ion-row>

        </div>
    </div><!-- card closing div -->

</div> <!-- login closing div -->

