// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// ::-webkit-scrollbar{
//   width: 0px;
// }
// ::-webkit-scrollbar-track-piece{
//   background-color:transparent;
// }
@import './theme/variables';
// :host ::ng-deep{
.input-cover {
  display: none !important;
}

ion-navbar.toolbar {
  -webkit-box-align: unset;
  -webkit-align-items: unset;
  -ms-flex-align: unset;
  align-items: unset;
}

.toolbar-content-md {
  height: 100%;
}

.scroll-content {
  overflow-y: auto;
  // background-color: #d32f2f !important;
}

.selectedrow {
  color: #4288fa !important;
}

.moyo-icon {
  height: 25px;
  width: 20px; // margin-left: -15px;
  // margin-right: 8px;
}

.content-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0;
}

.logo-div {
  width: 68px;
  height: 68px;
  background-color: #673ab7;
  border-radius: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.moyo-image-navbar {
  object-fit: contain;
  height: 10vh;
  margin-top: 10px;
  padding-left: 13px;
  margin-bottom: 5%;
}

ion-menu {
  ion-navbar {
    .toolbar-title-md {
      font-size: 1.9rem;
      margin-bottom: 10px;
    }
    -webkit-box-shadow: 0px -4px 8px 6px rgba(0, 0, 0, 0.75);
    ion-row {
      position: absolute;
      bottom: 0;
      padding-bottom: 20px;
    }
    ion-label {
      color: white;
    }
  }
  ion-content {
    font-weight: 600;
    ion-icon {
      font-size: 2.2em !important;
    }
    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    ion-row {
      height: 55px !important;
    }
    .label-md {
      padding-left: 10%;
    }
    .scroll-content {
      margin-bottom: 105px !important;
    }
    .badge-md {
      display: block;
      background-color: #78d621 !important;
      color: white;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      margin: 3px;
      padding-left: auto; // font-size: 1.3em;
      padding-top: 5px; //padding: unset !important;
      padding-left: unset;
      padding-right: unset;
    }
  }
}

.ControlErrorAlert {
  .alert-wrapper {
    width: 320px !important;
  }
  .alert-head {
    text-align: center;
    padding: 13px 24px 0px;
    background-color: #e53935;
    color: #fff;
    height: 45px;
  }
  .alert-title {
    font-size: 1.000em;
    font-family: 'Roboto', sans-serif;
  }
  .alert-message {
    text-align: center;
    padding: 17px 32px 10px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    line-height: 1.43;
  }

  .alert-button-group {
    justify-content: center !important;
  }
}

.ControlInfoAlert {
  .alert-wrapper {
    width: 320px !important;
    border: unset !important
  }
  .alert-head {
    text-align: center;
    padding: 13px 24px 0px;
    background-color: #4caf50;
    color: #fff;
    height: 45px;
  }
  .alert-title {
    font-size: 1.000em;
    font-family: 'Roboto', sans-serif;
  }
  .alert-message {

    text-align: center;
    padding: 17px 32px 10px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    line-height: 1.43;
  }

  .alert-button-group {
    justify-content: center !important;
  }
}

//prithvi end
.content-background {
  background: $toolbar-wp-background;
  color: white;
}

ion-footer {
  background: #fff;
  padding: 0px !important;
}

.footer-align {
  text-align: center;
}

.tab-bar {
  background: #3f2185;
  height: 5px;
  margin-top: 5px;
}

ion-nav {
  display: block !important;
  max-width: 100% !important;
}

.icon-align {
  width: 25%;
}

.content-logo {
  // width: 80%;
  // margin-top: 10%;
  align-content: center;
}

.content-title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

// .content-transperent-bg{
// //its not and empty roleset
// }
.md ion-list > .item:last-child,
.md ion-list > .item:first-child,
.md ion-list > .item-wrapper:first-child .item,
.md ion-list > .item-wrapper:last-child .item,
.wp ion-list > .item:last-child,
.wp ion-list > .item:first-child,
.wp ion-list > .item-wrapper:first-child .item,
.wp ion-list > .item-wrapper:last-child .item,
.ios ion-list > .item:last-child,
.ios ion-list > .item:first-child,
.ios ion-list > .item-wrapper:first-child .item,
.ios ion-list > .item-wrapper:last-child .item {
  border-bottom: none;
}

// ion-popover{
// }
.popover-md .popover-content {
  width: unset !important;
  /* the new global width */
  min-width: 120px;
}

.popover-ios .popover-content {
  width: unset !important;
  /* the new global width */
  min-width: 120px;
}

.options-popover .popover-content, .custom-popover .popover-content, .popoverwidth .popover-content {
  width: 809px !important;
  overflow-x: auto;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  // transition-delay: 3s !important;
  .popover-viewport {
    transition-delay: 100ms !important;
    transition-property: linear;
  }
}

.custom-popover, .popoverwidth, .options-popover {
  ion-backdrop {
    opacity: 0.7 !important;
    filter: blur(1px);
  }
}

@media screen and (min-width: 992px) {
  .popoverwidth .popover-content {
    width: 809px !important;

  }
  .options-popover .popover-content {
    width: 809px !important;
  }
}

@media screen and (max-width: 992px) {
  .options-popover .popover-content {
    width: 360px !important;
  }
  .popoverwidth .popover-content {
    width: 768px !important;
  }
  .custom-popover .popover-content {
    width: 768px !important;
  }

}

@media screen and (max-width: 768px) {

  .popoverwidth .popover-content {
    width: 700px !important;
  }
  .custom-popover .popover-content {
    width: 576px !important;
  }
}

@media screen and (max-width: 380px) {
  .options-popover .popover-content {
    width: 342px !important;
    overflow-x: auto;
  }
  .custom-popover .popover-content {
    width: 342px !important;
    overflow-x: auto;
  }
  .popoverwidth .popover-content {
    width: 342px !important;
  }
}

@media screen and (max-width: 330px) {

  .custom-popover .popover-content {
    width: 300px !important;
    overflow-x: auto;
  }
  .options-popover .popover-content {
    width: 300px !important;
    overflow-x: auto;
  }
  .popoverwidth .popover-content {
    width: 300px !important;
  }
}

.register_contentWidth {
  width: 100%;
}

// .normal-content-width{
// }
// .register_verifyCaptchaFont{
// }
img-loader {
  background-position: center;
}

@media screen and (min-width: 680px) and (max-width: 2000px) {
  .normal-footer-content-width {
    width: 50%;
    left: 26%;
  }
}

@media screen and (min-width: 991px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 680px) {
  .modal-wrapper {
    left: calc(50% - (600px / 2));
    top: calc(50% - (500px / 2));
    position: absolute;
    max-width: 600px;
    max-height: 500px;
    min-width: 200px;
    min-height: 200px;
    width: 100%;
    height: 100%;
  }
  ion-modal ion-backdrop {
    visibility: visible;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.01;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@media screen and (min-height: 700px) {
  @media screen and (min-width: 800px) {
    .register_contentWidth {
      top: 50% !important;
      transform: translateY(-50%) !important;
    }
  }
}

@media screen and (min-width: 570px) {
  .register_contentWidth {
    width: 420px;
    display: block;
    position: absolute;
    top: 1%;
    left: 50%;
    margin-left: -210px;
    border: 2px solid white;
    border-radius: 20px;
    background: white;
    margin-bottom: 10px;
    transform: none;
    min-height: 748px;
    max-height: 768px;
  }
  .toast-top-margin {
    margin-top: 3%;
  }
  .normal-content-width {
    width: 480px;
    height: 90%;
    display: block;
    position: absolute;
    top: 2%;
    left: 50%;
    margin-left: -240px; // padding: 0 5px 5px 5px;
  }
  .normal-footer-content-width {
    width: 480px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -240px;
    padding: 5px;
  }
  .register_verifyCaptchaFont {
    font-size: 10px;
  }
  .normal-web-width {
    width: 80%;
    /* width: 800px; */
    height: 99%;
    display: block;
    position: absolute;
    top: 1%;
    left: 10%;
  }
  ion-app {

    background-image: url(../../../assets/lots/logo/unnamed.png);
    background-size: cover;
  }
}

ion-menu ion-navbar .toolbar-title-md {
  font-size: 1.5rem !important;
  overflow: visible !important;
}

.app-link-icons {
  height: 50px;
  width: 45%;
  object-fit: contain;
}

ion-menu {
  ion-footer {
    .label-md {
      margin: unset !important;
    }
  }
}

.blurred-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  img {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(4px);
  }
  div {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
  }
}

.logo-div-profile {
  width: 80px;
  height: 80px;
  background-color: #673ab7;
  border-radius: 100%;
  margin: 30px auto 15px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.powered-by {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 2;
  text-align: center;
  // color: rgba(255, 255, 255, 0.87);
  line-height: 2;
  position: relative;
  bottom: 6px;
  left: 7px;
}

.moyo-icon-ham {
  height: 27px;
  width: 75px;
  position: relative;
  left: 3px;
}

.org-footer-logo {
  height: 54px;
  text-align: -webkit-center;
  .org-container {
    height: 100%;
    width: 61%;
  }

}

@media screen and (max-height: 600px) {
  .org-footer-logo {
    height: 34px;
    text-align: -webkit-center;
    .org-container {
      height: 100%;
      width: 50%;
    }
  }
  .item-md p {
    margin: 0px;
    font-size: 1.1rem;
  }
  .powered-by {
    font-size: 13px;
    left: 6px;
  }
  .moyo-icon-ham {
    height: 22px;
    width: 56px;
  }
}

@media screen and (min-width: 992px) {
  .blurred-background {
    display: none;
  }
}

ion-loading.transparent {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
  }

}

ion-loading.custom-splash-transparent {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
    width: 100vw;
    height: 100vh;
    max-height: unset;
    max-width: unset;
  }
  img {
    // height: 35vh;
    width: 100vw;
    object-fit: contain;
  }
}

//splash screen css
.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d32f2f;

}

.splashImg {
  max-width: 55%;
  max-height: auto;
  width: 100%;
  background-color: #d32f2f;
}

@media screen and (min-width: 992px) {
  .splashImg {
    max-width: 35%;
  }
}

// }

// @media screen and (max-height: 800px) {
//   @media screen and (max-width: 450px) {
//     .spinner {
//         width: 90%;
//         height: 40%;
//     }
//   }
// }
// @media screen and (max-height: 900px) {
//   @media screen and (max-width: 450px) {
//     .spinner {
//         width: 98%;
//         height: 40%;
//     }
//   }
// }
// @media screen and (max-height: 1400px) {
//   @media screen and (max-width: 1200px) {
//     .spinner {
//         width: 90%;
//         height: 40%;
//     }
//   }
// }

// @media screen and (min-height: 1400px) {
//   @media screen and (min-width: 1200px) {
//     .spinner {
//         width: 40%;
//         height: 40%;
//     }
//   }
// }
// @media (min-width: 500px){
// //This should work for Normal desktops(15 to 18 inch) only.
//     .spinner {
//         width: 40%;
//         height: 40%;
//     }
// }
//   @media (min-width: 768px) and (max-width: 1024px){
//     .spinner {
//         width: 70%;
//         height: 40%;
//     }
// }
//    /* Media Query for Laptops and Desktops */
// @media (min-width: 1025px) and (max-width: 1280px){
//     .spinner {
//         width: 40%;
//         height: 40%;
//       }
// }
  
  
  
  