


<div *ngIf="showSplash" class="splash" [ngStyle]="{'backgroundColor': styleObj.backcolor}">
    <img class="splashImg" [ngStyle]="{'backgroundColor': styleObj.backcolor}" [src]="splashImg">
</div>
<div #app class="normal-web-width" when="(max-width: 475px)">
    <ion-split-pane when="lg" contentId="menuView">
        <ion-menu contentId="menuView">
            <ion-header>
                <ion-toolbar style="height: 100%!important;" (click)="openProfile()">
                    <div class="blurred-background">
                        <img *ngIf="firedb.profileImage" [src]="firedb.profileImage">
                        <div></div>
                    </div>
                    <!-- <img src="assets/logo/ic_moyo.png" class="moyo-image-navbar"> -->
                    <div class="logo-div-profile">
                        <img *ngIf="firedb.profileImage" [src]="firedb.profileImage" style="object-fit: cover;" />
                        <img *ngIf="!firedb.profileImage" src="../../assets/lots/logo/person-icon.svg" class="content-logo"
                            style="object-fit: contain;" />
                    </div>
                    <ion-title text-center>
                        <div>{{firedb.userId}}</div>
                        <div> {{firedb.userName}}</div>
                        <!-- <div> {{firedb.phone}}</div> -->
                    </ion-title>

                    <ion-buttons end right (tap)="openMenuOptions($event)">
                        <button ion-button icon-only>
                            <ion-icon name="more"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <!-- <ion-list>
                        <ion-item no-margin class="remove-padding-left" >
                            <ion-label class="add-padding-left">My Channels</ion-label>
                        </ion-item>
                        <ion-item no-margin class="remove-padding-left" (tap)="openFavourite()">
                            <ion-label class="add-padding-left">Favourites</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label></ion-label>
                        </ion-item>
                    </ion-list> -->
                <ion-grid>
                    <ion-row [class.selectedrow]="core.selectedOptionOnHamburger=='HomePage'" (tap)="openMyChannels()">
                        <ion-col col-2>
                            <!-- <ion-icon name="ios-download" class="menuicon"></ion-icon> -->
                            <img style="height: 30px"
                                src="assets/icon/{{core.selectedOptionOnHamburger=='HomePage'?'my_channels_selected.png':'my_channels.png'}}" />
                        </ion-col>
                        <ion-col col-8>
                            <ion-label no-padding no-margin>
                                My Channels
                            </ion-label>
                        </ion-col>
                        <ion-col col-2 *ngIf='myChannelProvider.hasUnreadMoyos'>
                            <!-- <ion-badge>{{myChannelProvider.getTotalCountOfUnreadMoyos | async }}</ion-badge> -->
                        </ion-col>
                    </ion-row>
                    <ion-row [class.selectedrow]="core.selectedOptionOnHamburger=='ShopChannelListPage'"
                        (tap)="openShops()" *ngIf="shopChannels.length > 0 && core.isMobileApp()">
                        <ion-col col-2>
                            <ion-icon name="md-appstore" class="menuicon"></ion-icon>
                            <!-- <img style="height: 30px" src="assets/icon/{{core.selectedOptionOnHamburger=='HomePage'?'my_channels_selected.png':'my_channels.png'}}" -->
                        </ion-col>
                        <ion-col col-8>
                            <ion-label no-padding no-margin>
                                MoYo Shop
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <!-- <ion-row>
                            <ion-col col-2>
                                <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
                            </ion-col>
                            <ion-col col-8>
                                <ion-label no-padding no-margin>
                                    Notifications
                                </ion-label> -->
                    <!-- <ion-col col-2>
                                    <ion-badge *ngIf="core.hasUnreadMessages" item-end>{{core.getTotalCountOfUnreadMessages | async }}</ion-badge>
                                </ion-col> -->
                    <!-- </ion-col>
                        </ion-row> -->
                    <ion-row [class.selectedrow]="core.selectedOptionOnHamburger=='FavouritesPage'"
                        (tap)="openFavourite()">
                        <ion-col col-2>
                            <ion-icon name="md-heart"></ion-icon>
                        </ion-col>
                        <ion-col col-8>
                            <ion-label no-padding no-margin>
                                Favourites
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <!-- <ion-row [class.selectedrow]="core.selectedOptionOnHamburger=='ConversationsPage'" (tap)="openConversations()">
                            <ion-col col-2>
                                <ion-icon name="ios-chatbubbles"></ion-icon>
                            </ion-col>
                            <ion-col col-8>
                                <ion-label no-padding no-margin>
                                    Conversations
                                </ion-label>
                            </ion-col>
                            <ion-col col-2>
                                <ion-badge *ngIf="chatsProvider.hasUnreadMessages" item-end>{{chatsProvider.getTotalCountOfUnreadMessages | async }}</ion-badge>
                            </ion-col>
                        </ion-row> -->

                    <!-- <ion-row>
                            <ion-col col-2>
                                <ion-icon name="md-settings"></ion-icon>
                            </ion-col>
                            <ion-col col-8>
                                <ion-label no-padding no-margin>
                                    Settings
                                </ion-label>
                            </ion-col>
                        </ion-row> -->
                    <!-- <ion-row>
                            <ion-col col-2>
                                <ion-icon name="md-person-add"></ion-icon>
                            </ion-col>
                            <ion-col col-8>
                                <ion-label no-padding no-margin>
                                    Invite Someone
                                </ion-label>
                            </ion-col>
                        </ion-row> -->

                    <!-- <ion-row>
                            <ion-col col-2>
                                <ion-icon name="md-help-circle"></ion-icon>
                            </ion-col>
                            <ion-col col-8>
                                <ion-label>
                                    Help
                                </ion-label>
                            </ion-col>
                        </ion-row> -->
                    <ion-row [class.selectedrow]="core.selectedOptionOnHamburger=='SharesPage'" (tap)="openShares()">
                        <ion-col col-2>
                            <ion-icon name="md-share"></ion-icon>
                        </ion-col>
                        <ion-col col-8>
                            <ion-label no-padding no-margin>
                                Shares
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <!-- <ion-row [class.selectedrow]="core.selectedOptionOnHamburger=='JobOrderPage'" (tap)="openJO()">
                            <ion-col col-2>
                                <ion-icon name="md-share"></ion-icon>
                            </ion-col>
                            <ion-col col-8>
                                <ion-label no-padding no-margin>
                                    JO
                                </ion-label>
                            </ion-col>
                        </ion-row> -->
                    <ion-row *ngIf="myChannelProvider.enablePaymentPage"
                        [class.selectedrow]="core.selectedOptionOnHamburger=='PaymentHistoryPage'"
                        (tap)="openPaymentPage()">
                        <ion-col col-2>
                            <img style="height: 25px" src="../../../assets/lots/icon/rupee-ham.svg">
                        </ion-col>
                        <ion-col col-8>
                            <ion-label no-padding no-margin>
                                Payments
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row [class.selectedrow]="core.selectedOptionOnHamburger=='UserFeedbackPage'"
                        (tap)="openUserFeedbackPage()">
                        <ion-col col-2>
                            <ion-icon name="md-information-circle"></ion-icon>
                        </ion-col>
                        <ion-col col-8>
                            <ion-label no-padding no-margin>
                                Feedback
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <!-- <ion-row [class.selectedrow]="core.selectedOptionOnHamburger=='AboutMoyoPage'" (tap)="openAboutMoyo()">  -->
                    <!-- <ion-row> -->
                    <!-- <ion-item text-center no-margin no-lines no-padding>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col style="margin-bottom: -40px;">
                                            <img class="moyo-icon" src="assets/icon/moyo-subs.png" />
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col style="margin-top: -10px;margin-left: -12px;">
                                            <p> v {{appVersion}}</p>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>

                            </ion-item> -->
                    <!-- </ion-row> -->
                </ion-grid>

            </ion-content>
            <ion-footer no-border>
                <div class="org-footer-logo">
                    <div class="org-container">
                        <img *ngIf="isOrgFooterEnabled" [src]="orgFooterLogo" />
                    </div>
                </div>
                <ion-item text-center no-margin no-lines no-padding (click)="openAboutMoyo()">
                    <span class="powered-by"> Powered By </span> <img class="moyo-icon-ham"
                        src="../../assets/icon/ngage-footer.png" />
                    <!-- <img class="tooltiptext" src="assets/lexin/nGage.png" alt=""> -->
                    <p>v {{firedb.appversion}}</p>
                    <p *ngIf="!firedb.env">QA</p>
                </ion-item>
                <!-- <ion-item text-center no-margin no-lines no-padding *ngIf="!core.isMobileApp()">
                        <img class="app-link-icons"  src="assets/imgs/Google_play_store_icon.png" alt="" (click)="openGooglePlayLink()">
                        <img class="app-link-icons"  src="assets/imgs/apple_appstore_icon.png" alt="" (click)="openAppStoreLink()">
                    </ion-item> -->
            </ion-footer>
        </ion-menu>
        <!-- <ion-nav #content></ion-nav> -->
        <ion-router-outlet id="menuView" ></ion-router-outlet>
    </ion-split-pane>
    <input *ngIf="firedb.auth && firedb.auth.currentUser" id="Phone" [value]="firedb.auth.currentUser.phoneNumber"
        hidden>
    <input id="Server" [value]="firedb.serverUrl" hidden>
    
</div>
